<main class="container-xxl" style="height : auto; min-height : 100%">
	<div class="row mb-5">
		<div class="col-11 ms-auto me-auto">
			<h2 class="pb-4 mb-4 mt-4 fw-bold fst-italic border-bottom">기록된 경기 목록</h2>
			<ul class="list-group">
                <% lg.forEach(result=>{%>
				<li class="list-group-item"><%=result['name']%>(<%=result['division']%>) <%=result['year']%>.<%=result['month']%>.<%=result['day']%>&emsp;&emsp;&emsp;(<%=result['ball_count']=='*'?'영상 없음':'영상 분석 완료'%>)</li>
                <%})%>
			</ul>
		</div>
	</div>
</main>