<main class="container-xxl">
	<div class="mb-5 pb-4">
		<img src="/Mysterya/image/profile/<%=playerDetail.number%>.jpg" class="rounded float-md-end img-thumbnail img-fluid" /> <img src="/Mysterya/image/support/<%if(playerDetail.number != 29){%><%= playerDetail.support%>.png<%}else{%><%=playerDetail.support%>.gif<%}%>" class="rounded float-md-end" height="230" />
		<p class="fs-3 pb-2 pt-4"><%=playerDetail.name%></p>
		<ul class="fs-5">
			<li><%=playerDetail.birth_year%> - <%=playerDetail.birth_month%> - <%=playerDetail.birth_day%></li>
			<li><%=playerDetail.element_school%> - <%=playerDetail.middle_school%> - <%=playerDetail.high_school%> - <%=playerDetail.university%></li>
			<li><%=playerDetail.handed%></li>
		</ul>
	</div>
	<h4 class="pb-4 mb-4 mt-4 fw-bold fst-italic border-bottom">통산 기록</h4>
	<div class="col-md-11 ms-auto me-auto">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>경기수</th>
					<th>타석</th>
					<th>타수</th>
					<th>타율</th>
					<th>안타</th>
					<th>2루타</th>
					<th>3루타</th>
					<th>홈런</th>
					<th>삼진</th>
					<th>4구</th>
					<th>사구</th>
					<th>장타율</th>
					<th>출루율</th>
					<th>OPS</th>
				</tr>
			</thead>
			<tbody>
					<tr>
						<td><%=ls['경기수']%></td>
						<td><%=ls['타석']%></td>
						<td><%=ls['타수']%></td>
						<% var temp = parseFloat(ls['타율']).toFixed(3) %>
						<td><%= temp%></td>
						<td><%=ls['안타']%></td>
						<td><%=ls['2루타']%></td>
						<td><%=ls['3루타']%></td>
						<td><%=ls['홈런']%></td>
						<td><%=ls['삼진']%></td>
						<td><%=ls['4구']%></td>
						<td><%=ls['사구']%></td>
						<% var temp = parseFloat(ls['장타율']).toFixed(3) %>
						<td><%=temp%></td>
						<% var temp = parseFloat(ls['출루율']).toFixed(3) %>
						<td><%=temp%></td>
						<% var temp = parseFloat(ls['OPS']).toFixed(3) %>
						<td><%=temp%></td>
					</tr>
			</tbody>
		</table>
	</div>
	<h4 class="pt-4 mt-4 pb-4 mb-4 fw-bold fst-italic border-bottom">리그별 요약</h4>
	<div class="col-md-11 ms-auto me-auto">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>리그</th>
					<th>분류</th>
					<th>경기수</th>
					<th>타석</th>
					<th>타수</th>
					<th>타율</th>
					<th>안타</th>
					<th>2루타</th>
					<th>3루타</th>
					<th>홈런</th>
					<th>삼진</th>
					<th>4구</th>
					<th>사구</th>
					<th>장타율</th>
					<th>출루율</th>
					<th>OPS</th>
				</tr>
			</thead>
			<tbody>
				<% ll.forEach((result)=>{%>
					<tr>
						<th><%=result['리그']%></th>
						<td><%=result['분류']%></td>
						<td><%=result['경기수']%></td>
						<td><%=result['타석']%></td>
						<td><%=result['타수']%></td>
						<% var temp = parseFloat(result['타율']).toFixed(3) %>
						<td><%=temp%></td>
						<td><%=result['안타']%></td>
						<td><%=result['2루타']%></td>
						<td><%=result['3루타']%></td>
						<td><%=result['홈런']%></td>
						<td><%=result['삼진']%></td>
						<td><%=result['4구']%></td>
						<td><%=result['사구']%></td>
						<% var temp = parseFloat(result['장타율']).toFixed(3) %>
						<td><%=temp%></td>
						<% var temp = parseFloat(result['출루율']).toFixed(3) %>
						<td><%=temp%></td>
						<% var temp = parseFloat(result['OPS']).toFixed(3) %>
						<td><%=temp%></td>
					</tr>
				<%})%>
			</tbody>
		</table>
	</div>
	<h4 class="pt-4 mt-4 pb-4 mb-4 fw-bold fst-italic border-bottom">연도별 요약</h4>
	<div class="col-md-11 ms-auto me-auto">
		<table class="table table-bordered table-striped ">
			<thead>
				<tr>
					<th>년도</th>
					<th>경기수</th>
					<th>타석</th>
					<th>타수</th>
					<th>타율</th>
					<th>안타</th>
					<th>2루타</th>
					<th>3루타</th>
					<th>홈런</th>
					<th>삼진</th>
					<th>4구</th>
					<th>사구</th>
					<th>장타율</th>
					<th>출루율</th>
					<th>OPS</th>
				</tr>
			</thead>
			<tbody>
				<% ly.forEach((result)=>{ %>
					<tr>
						<th><%=result['년도']%></th>
						<td><%=result['경기수']%></td>
						<td><%=result['타석']%></td>
						<td><%=result['타수']%></td>
						<% var temp = parseFloat(result['타율']).toFixed(3) %>
						<td><%=temp%></td>
						<td><%=result['안타']%></td>
						<td><%=result['2루타']%></td>
						<td><%=result['3루타']%></td>
						<td><%=result['홈런']%></td>
						<td><%=result['삼진']%></td>
						<td><%=result['4구']%></td>
						<td><%=result['사구']%></td>
						<% var temp = parseFloat(result['장타율']).toFixed(3) %>
						<td><%=temp%></td>
						<% var temp = parseFloat(result['출루율']).toFixed(3) %>
						<td><%=temp%></td>
						<% var temp = parseFloat(result['OPS']).toFixed(3) %>
						<td><%=temp%></td>
					</tr>
				<%})%>
			</tbody>
		</table>
	</div>

	<h4 class="pt-4 mt-4 pb-4 mb-4 fw-bold fst-italic border-bottom">타석 분석</h4>
	<div class="col-md-11 ms-auto me-auto">
		<nav>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<button class="nav-link fw-bold active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-padirection" type="button" role="tab" aria-selected="true">타구방향 비율</button>
				<button class="nav-link fw-bold" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-pahowbase" type="button" role="tab" aria-selected="false">주자상황별</button>
				<button class="nav-link fw-bold" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-paturn" type="button" role="tab" aria-selected="false">타석횟수별 타율</button>
				<button class="nav-link fw-bold" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-paballcount" type="button" role="tab" aria-selected="false">볼카운트별</button>
				<button class="nav-link fw-bold" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-paballtotal" type="button" role="tab" aria-selected="false">타석당 공 갯수</button>
				<button class="nav-link fw-bold" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-paout" type="button" role="tab" aria-selected="false">아웃 비율</button>
				<button class="nav-link fw-bold" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-patobase" type="button" role="tab" aria-selected="false">출루 비율</button>
				<button class="nav-link fw-bold" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-patetc" type="button" role="tab" aria-selected="false">기타 지표</button>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-padirection" role="tabpanel">
				<div class="border border-2 mb-5" style="background-image : url('/Mysterya/image/field.png'); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;">
					<%var dl=[]%>
					<%for(var tt = 1; tt < 10; tt++){%>
						<%var dl_=0%>
						<%lpd.forEach((result)=>{%>	
							<%if(result['타구방향']==tt){dl_=parseFloat(result['비율']).toFixed(1)}%>
						<%})%>
						<%dl.push(dl_)%>	
					<%}%>
					<div class="row justify-content-center">
						<div class="col-3">
							<div style="
								position: relative;
								margin-left: auto;
								margin-right: auto;
								width: 160px;
								height: 160px;
								border-radius: 50%;
								<%var dcolor =''%>
								<%if(dl[7]>30){dcolor='#ff4800'}else{dcolor='#b813ff'}%>
								background: conic-gradient(<%=dcolor%> 0% <%=dl[7]*2%>%, #00000040 <%=dl[7]%>% 100%);
							  ">
							  <span class="center" style="
							  position:absolute;
							  top :25%;
							  left : 25%;
							  width: 50%;
							  height: 50%;
							  border-radius: 50%;
							  background-color: #ffffff;
							  text-align: center;
							  font-size: larger;
							  color:black;
							  line-height: 140%;
							  padding-top: 7%;
							  ">중견수<br><%=dl[7]%>%</span>
							</div>
						</div>
					</div>
					<div class="row justify-content-between">
						<div class="col-3">
							<div style="
								position: relative;
								margin-left: auto;
								margin-right: auto;
								width: 160px;
								height: 160px;
								border-radius: 50%;
								<%if(dl[6]>30){dcolor='#ff7919'}else{dcolor='#b813ff'}%>
								background: conic-gradient(<%=dcolor%> 0% <%=dl[6]*2%>%, #00000040 <%=dl[6]%>% 100%);
							  ">
							  <span class="center" style="
							  position:absolute;
							  top :25%;
							  left : 25%;
							  width: 50%;
							  height: 50%;
							  border-radius: 50%;
							  background-color: #ffffff;
							  text-align: center;
							  font-size: larger;
							  color:black;
							  line-height: 140%;
							  padding-top: 7%;
							  ">좌익수<br><%=dl[6]%>%</span>
							</div>
						</div>
						<div class="col-3">
							<div style="
								position: relative;
								margin-left: auto;
								margin-right: auto;
								width: 160px;
								height: 160px;
								border-radius: 50%;
								<%if(dl[8]>30){dcolor='#ff4800'}else{dcolor='#b813ff'}%>
								background: conic-gradient(<%=dcolor%> 0% <%=dl[8]*2%>%, #00000040 <%=dl[8]%>% 100%);
							  ">
							  <span class="center" style="
							  position:absolute;
							  top :25%;
							  left : 25%;
							  width: 50%;
							  height: 50%;
							  border-radius: 50%;
							  background-color: #ffffff;
							  text-align: center;
							  font-size: larger;
							  color:black;
							  line-height: 140%;
							  padding-top: 7%;
							  ">우익수<br><%=dl[8]%>%</span>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-3">
							<div style="
								position: relative;
								margin-left: auto;
								margin-right: auto;
								width: 160px;
								height: 160px;
								border-radius: 50%;
								<%if(dl[5]>30){dcolor='#ff4800'}else{dcolor='#b813ff'}%>
								background: conic-gradient(<%=dcolor%> 0% <%=dl[5]*2%>%, #00000040 <%=dl[5]%>% 100%);
							  ">
							  <span class="center" style="
							  position:absolute;
							  top :25%;
							  left : 25%;
							  width: 50%;
							  height: 50%;
							  border-radius: 50%;
							  background-color: #ffffff;
							  text-align: center;
							  font-size: larger;
							  color:black;
							  line-height: 140%;
							  padding-top: 7%;
							  ">유격수<br><%=dl[5]%></span>
							</div>
						</div>
						<div class="col-3">
							<div style="
								position: relative;
								margin-left: auto;
								margin-right: auto;
								width: 160px;
								height: 160px;
								border-radius: 50%;
								<%if(dl[3]>30){dcolor='#ff4800'}else{dcolor='#b813ff'}%>
								background: conic-gradient(<%=dcolor%> 0% <%=dl[3]*2%>%, #00000040 <%=dl[3]%>% 100%);
							  ">
							  <span class="center" style="
							  position:absolute;
							  top :25%;
							  left : 25%;
							  width: 50%;
							  height: 50%;
							  border-radius: 50%;
							  background-color: #ffffff;
							  text-align: center;
							  font-size: larger;
							  color:black;
							  line-height: 140%;
							  padding-top: 7%;
							  ">2루수<br><%=dl[3]%></span>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-3">
							<div style="
								position: relative;
								margin-left: auto;
								margin-right: auto;
								width: 160px;
								height: 160px;
								border-radius: 50%;
								<%if(dl[4]>30){dcolor='#ff4800'}else{dcolor='#b813ff'}%>
								background: conic-gradient(<%=dcolor%> 0% <%=dl[4]*2%>%, #00000040 <%=dl[4]%>% 100%);
							  ">
							  <span class="center" style="
							  position:absolute;
							  top :25%;
							  left : 25%;
							  width: 50%;
							  height: 50%;
							  border-radius: 50%;
							  background-color: #ffffff;
							  text-align: center;
							  font-size: larger;
							  color:black;
							  line-height: 140%;
							  padding-top: 7%;
							  ">3루수<br><%=dl[4]%></span>
							</div>
						</div>
						<div class="col-3">
							<div style="
								position: relative;
								margin-left: auto;
								margin-right: auto;
								width: 160px;
								height: 160px;
								border-radius: 50%;
								<%if(dl[0]>30){dcolor='#ff4800'}else{dcolor='#b813ff'}%>
								background: conic-gradient(<%=dcolor%> 0% <%=dl[0]*2%>%, #00000040 <%=dl[0]%>% 100%);
							  ">
							  <span class="center" style="
							  position:absolute;
							  top :25%;
							  left : 25%;
							  width: 50%;
							  height: 50%;
							  border-radius: 50%;
							  background-color: #ffffff;
							  text-align: center;
							  font-size: larger;
							  color:black;
							  line-height: 140%;
							  padding-top: 7%;
							  ">투수<br><%=dl[0]%></span>
							</div>
						</div>
						<div class="col-3">
							<div style="
								position: relative;
								margin-left: auto;
								margin-right: auto;
								width: 160px;
								height: 160px;
								border-radius: 50%;
								<%if(dl[2]>30){dcolor='#ff4800'}else{dcolor='#b813ff'}%>
								background: conic-gradient(<%=dcolor%> 0% <%=dl[2]*2%>%, #00000040 <%=dl[2]%>% 100%);
							  ">
							  <span class="center" style="
							  position:absolute;
							  top :25%;
							  left : 25%;
							  width: 50%;
							  height: 50%;
							  border-radius: 50%;
							  background-color: #ffffff;
							  text-align: center;
							  font-size: larger;
							  color:black;
							  line-height: 140%;
							  padding-top: 7%;
							  ">1루수<br><%=dl[2]%></span>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-3">
							<div style="
								position: relative;
								margin-left: auto;
								margin-right: auto;
								width: 160px;
								height: 160px;
								border-radius: 50%;
								<%if(dl[1]>30){dcolor='#ff4800'}else{dcolor='#b813ff'}%>
								background: conic-gradient(<%=dcolor%> 0% <%=dl[1]*2%>%, #00000040 <%=dl[1]%>% 100%);
							  ">
							  <span class="center" style="
							  position:absolute;
							  top :25%;
							  left : 25%;
							  width: 50%;
							  height: 50%;
							  border-radius: 50%;
							  background-color: #ffffff;
							  text-align: center;
							  font-size: larger;
							  color:black;
							  line-height: 140%;
							  padding-top: 7%;
							  ">포수<br><%=dl[1]%></span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="nav-paturn" role="tabpanel">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>타석 횟수</th>
							<th>타석</th>
							<th>타수</th>
							<th>타율</th>
							<th>안타</th>
							<th>사사구</th>
							<th>삼진</th>
							<th>땅볼 및 뜬공</th>
							<th>상대방실책</th>
						</tr>
					</thead>
					<tbody>
						<% lpt.forEach((result)=>{%>
						<tr>
							<td><%=result['타석 횟수']%></td>
							<td><%=result['타석']%></td>
							<td><%=result['타수']%></td>
							<% var temp = parseFloat(result['타율']).toFixed(3) %>
							<td><%=temp%></td>
							<td><%=result['안타']%></td>
							<td><%=result['사사구']%></td>
							<td><%=result['삼진']%></td>
							<td><%=result['땅볼 및 뜬공']%></td>
							<td><%=result['상대방실책']%></td>
						</tr>
						<%})%>
					</tbody>
				</table>
			</div>
			<div class="tab-pane fade" id="nav-paballtotal" role="tabpanel">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>공 갯수</th>
							<th>타석</th>
							<th>타율</th>
						</tr>
					</thead>
					<tbody>
						<% lpbt.forEach((result)=>{%>
							<tr>
								<td><%=result['공 갯수']%></td>
								<td><%=result['타석']%></td>
								<% var temp = parseFloat(result['타율']).toFixed(3) %>
								<td><%=temp%></td>
							</tr>
						<%})%>
					</tbody>
				</table>
			</div>
			<div class="tab-pane fade" id="nav-paout" role="tabpanel">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>타수</th>
							<th>총 아웃</th>
							<th>루킹삼진</th>
							<th>스윙삼진</th>
							<th>땅볼</th>
							<th>뜬공</th>
							<th>직선타</th>
							<th>실책</th>
						</tr>
					</thead>
					<tbody>
							<% lpo.forEach((result)=>{%>
								<tr>
									<td><%=result['타수']%></td>
									<td><%=result['총 아웃']%></td>
									<td><%=result['루킹삼진']%></td>
									<td><%=result['스윙삼진']%></td>
									<td><%=result['땅볼']%></td>
									<td><%=result['뜬공']%></td>
									<td><%=result['직선타']%></td>
									<td><%=result['실책']%></td>
								</tr>
							<%})%>	
					</tbody>
				</table>
				<div id=ochart class="col-8 ms-auto me-auto"></div>
			</div>
			<div class="tab-pane fade" id="nav-patobase" role="tabpanel">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>총 출루</th>
							<th>안타</th>
							<th>4구</th>
							<th>사구</th>
						</tr>
					</thead>
					<tbody>
						<% lptb.forEach((result)=>{%>
							<tr>
								<td><%=result['총 출루']%></td>
								<td><%=result['안타']%></td>
								<td><%=result['4구']%></td>
								<td><%=result['사구']%></td>
							</tr>
						<%})%>
					</tbody>
				</table>
				<div id=obchart class="col-8 ms-auto me-auto"></div>
			</div>
			<div class="tab-pane fade" id="nav-patetc" role="tabpanel">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>K% : 타석당 삼진 개수</th>
							<th>BB% : 타석당 볼넷 개수</th>
							<th>K-BB% : 삼진-볼넷 비율 격차</th>
						</tr>
					</thead>
					<tbody>
						<% lpetc.forEach((result)=>{%>
							<tr>
								<% var temp = parseFloat(result['K% : 타석당 삼진 비율']).toFixed(3) %>
								<td><%=temp%></td>
								<% var temp = parseFloat(result['BB% : 타석당 볼넷 비율']).toFixed(3) %>
								<td><%=temp%></td>
								<% var temp = parseFloat(result['K-BB% : 삼진-볼넷 비율 격차']).toFixed(3) %>
								<td><%=temp%></td>
							</tr>
						<%})%>

					</tbody>
				</table>
			</div>

			<div class="tab-pane fade" id="nav-paballcount" role="tabpanel">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>볼카운트</th>
							<th>타석</th>
							<th>타수</th>
							<th>타율</th>
							<th>안타</th>
							<th>사사구</th>
							<th>삼진</th>
							<th>땅볼 및 뜬공</th>
							<th>상대방실책</th>
						</tr>
					</thead>
					<tbody>
						<% lpbc.forEach((result)=>{%>
							<tr>
								<td><%=result['볼카운트']%></td>
								<td><%=result['타석']%></td>
								<td><%=result['타수']%></td>
								<% var temp = parseFloat(result['타율']).toFixed(3) %>
								<td><%=temp || 0%></td>
								<td><%=result['안타']%></td>
								<td><%=result['사사구']%></td>
								<td><%=result['삼진']%></td>
								<td><%=result['땅볼 및 뜬공']%></td>
								<td><%=result['상대방실책']%></td>
							</tr>
						<%})%>

					</tbody>
				</table>
			</div>
			<div class="tab-pane fade" id="nav-pahowbase" role="tabpanel">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>베이스</th>
							<th>타석</th>
							<th>타수</th>
							<th>타율</th>
							<th>단타</th>
							<th>장타</th>
							<th>사사구</th>
							<th>삼진</th>
							<th>땅볼 및 뜬공</th>
							<th>병살 및 삼중살</th>
							<th>상대방실책</th>
							<th>타점</th>
						</tr>
					</thead>
					<tbody>
						<% lphb2o3.forEach((result)=>{%>
							<tr>
								<td><%=result['득점권']%></td>
								<td><%=result['타석']%></td>
								<td><%=result['타수']%></td>
								<% var temp = parseFloat(result['타율']).toFixed(3) %>
								<td><%=temp??0%></td>
								<td><%=result['단타']%></td>
								<td><%=result['장타']%></td>
								<td><%=result['사사구']%></td>
								<td><%=result['삼진']%></td>
								<td><%=result['땅볼 및 뜬공']%></td>
								<td><%=result['병살 및 삼중살']%></td>
								<td><%=result['상대방실책']%></td>
								<td><%=result['타점']%></td>
							</tr>
						<%})%>
						<% lphb0o1.forEach((result)=>{%>
							<tr>
								<td><%=result['비득점권']%></td>
								<td><%=result['타석']%></td>
								<td><%=result['타수']%></td>
								<% var temp = parseFloat(result['타율']).toFixed(3) %>
								<td><%=temp??0%></td>
								<td><%=result['단타']%></td>
								<td><%=result['장타']%></td>
								<td><%=result['사사구']%></td>
								<td><%=result['삼진']%></td>
								<td><%=result['땅볼 및 뜬공']%></td>
								<td><%=result['병살 및 삼중살']%></td>
								<td><%=result['상대방실책']%></td>
								<td><%=result['타점']%></td>
							</tr>
						<%})%>
						<tbody>
					<thead>
						<tr>
							<th>베이스</th>
							<th>타석</th>
							<th>타수</th>
							<th>타율</th>
							<th>단타</th>
							<th>장타</th>
							<th>사사구</th>
							<th>삼진</th>
							<th>땅볼 및 뜬공</th>
							<th>병살 및 삼중살</th>
							<th>상대방실책</th>
							<th>타점</th>
						</tr>
					</thead>
					<tbody>
						<% lphb.forEach((result)=>{%>
							<tr>
								<td><%=result['베이스']%></td>
								<td><%=result['타석']%></td>
								<td><%=result['타수']%></td>
								<% var temp = parseFloat(result['타율']).toFixed(3) %>
								<td><%=temp??0%></td>
								<td><%=result['단타']%></td>
								<td><%=result['장타']%></td>
								<td><%=result['사사구']%></td>
								<td><%=result['삼진']%></td>
								<td><%=result['땅볼 및 뜬공']%></td>
								<td><%=result['병살 및 삼중살']%></td>
								<td><%=result['상대방실책']%></td>
								<td><%=result['타점']%></td>
							</tr>
						<%})%>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>
