<main class="container-xxl" style="height: auto; min-height: 100%">
    <div class="container">
        <h1 class="pb-4 mb-4 mt-4 fw-bold fst-italic border-bottom"><%=lry[0]['년도']%> 랭킹</h1>
        <div class="row justify-content-around ms-auto me-auto">
            <div id="h2nd" class="card mb-3 col-3" style="width: auto">
                <div class="card-header">
                    <h2 class="mx-auto text-center mb-0 mt-0">2위</h2>
                </div>
                <img
                    src="/Mysterya/image/profile/default.jpg"
                    class="card-img-top img-thumbnail"
                />
                <div class="card-body">
                    <img
                        src="/Mysterya/image/support/kbo.png"
                        class="img-fluid float-end"
                        width="60"
                        height="60"
                    />
                    <h1 class="card-title">
                        기록
                    </h1>
                    <a
                        href="/Mysterya/player/list"
                        class="btn btn-dark"
                        >선택</a
                    >
                </div>
            </div>
            <div id="h1st" class="card mb-3 col-3" style="width: auto">
                <div class="card-header">
                    <h2 class="mx-auto text-center mb-0 mt-0">1위</h2>
                </div>
                <img
                    src="/Mysterya/image/profile/default.jpg"
                    class="card-img-top img-thumbnail"
                />
                <div class="card-body">
                    <img
                        src="/Mysterya/image/support/kbo.png"
                        class="img-fluid float-end"
                        width="60"
                        height="60"
                    />
                    <h1 class="card-title">
                        기록
                    </h1>
                    <a
                        href="/Mysterya/player/list"
                        class="btn btn-dark"
                        >선택</a
                    >
                </div>
            </div>
            <div id="h3rd" class="card mb-3 col-3" style="width: auto">
                <div class="card-header">
                    <h2 class="mx-auto text-center mb-0 mt-0">3위</h2>
                </div>
                <img
                    src="/Mysterya/image/profile/default.jpg"
                    class="card-img-top img-thumbnail"
                />
                <div class="card-body">
                    <img
                        src="/Mysterya/image/support/kbo.png"
                        class="img-fluid float-end"
                        width="60"
                        height="60"
                    />
                    <h1 class="card-title">
                        기록
                    </h1>
                    <a
                        href="/Mysterya/player/list"
                        class="btn btn-dark"
                        >선택</a
                    >
                </div>
            </div>
        </div>
        <div class="row row-cols-auto" id="contents">
            <template>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="display: none;"></td>
                    <td style="display: none;"></td>
                </tr>
            </template>
            <div class="col-md-11 ms-auto me-auto">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="name">이름</th>
                            <th class="g">경기수</th>
                            <th class="pa">타석</th>
                            <th class="ab">타수</th>
                            <th class="avg">타율</th>
                            <th class="h">단타</th>
                            <th class="lh">장타</th>
                            <th class="so">삼진</th>
                            <th class="bb">4구</th>
                            <th class="hbp">사구</th>
                            <th class="r">득점</th>
                            <th class="rbi">타점</th>
                            <th class="slg">장타율</th>
                            <th class="obp">출루율</th>
                            <th class="ops">OPS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% lry.forEach(result=>{%>
                        <tr>
                            <td><%=result['name']%></td>
                            <td><%=result['경기수']%></td>
                            <td><%=result['타석']%></td>
                            <td><%=result['타수']%></td>
                            <%var temp = parseFloat(result['타율']).toFixed(3)%>
                            <td><%=temp%></td>
                            <td><%=result['단타']%></td>
                            <td><%=result['장타']%></td>
                            <td><%=result['삼진']%></td>
                            <td><%=result['4구']%></td>
                            <td><%=result['사구']%></td>
                            <td><%=result['득점']%></td>
                            <td><%=result['타점']%></td>
                            <%var temp = parseFloat(result['장타율']).toFixed(3)%>
                            <td><%=temp%></td>
                            <%var temp = parseFloat(result['출루율']).toFixed(3)%>
                            <td><%=temp%></td>
                            <%var temp = parseFloat(result['OPS']).toFixed(3)%>
                            <td><%=temp%></td>
                            <td style="display: none;"><%=result['number']%></td>
                            <td style="display: none;"><%=result['support']%></td>
                        </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/Mysterya/js/rankingLeague.js"></script>
</main>
