<main class="container-xxl" style="height : auto; min-height : 100%">
	<div class="row mb-5">
		<h1 class="pb-4 mb-4 mt-4 fw-bold fst-italic border-bottom">랭킹</h1>
		<div class="col-11 ms-auto me-auto">
			<h2 class="pb-4 mb-4 mt-4 fw-bold fst-italic border-bottom">리그별</h2>
			<ul class="list-group">
                <% ll.forEach(result=>{%>
				<li class="list-group-item"><a href="/Mysterya/ranking/league/<%=result['league_index']%>" class="alert-link"><%=result['name']%>(<%=result['division']%>)</a></li>
                <%})%>
			</ul>
			<h2 class="pb-4 mb-4 mt-4 fw-bold fst-italic border-bottom">년도별</h2>
			<ul class="list-group">
                <% ly.forEach(result=>{%>
				<li class="list-group-item"><a href="/Mysterya/ranking/year/<%=result['year']%>" class="alert-link"><%=result['year']%></a></li>
				<%})%>
			</ul>
		</div>
	</div>
</main>